{% extends "layouts.html" %}

 {% block body %}
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>id</th>
            <th>title</th>
            <th>author</th>
            <th>date</th>
          </tr>
        </thead>
        <tbody>
          {% for article in articles %}

          <tr>
            <td>{{article['id']}}</td>
            <td><a href="/{{ article['id'] }}/article">{{article['title']}}</a></td>
            <td>{{article['author']}}</td>
            <td>{{article['create_date']}}</td>
          </tr>
        {% endfor %}
        </tbody>
          

      </table>

    {% endblock %}
