{% extends "layouts.html" %}

 {% block body %}
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>id</th>
            <th>title</th>
            <th>author</th>
            <th>date</th>
            <th>기타</th>
          </tr>
        </thead>
        <tbody>
          {% for article in articles %}

          <tr>
            <td>{{article['id']}}</td>
            <td><a href="/{{ article['id'] }}/article">{{article['title']}}</a></td>
            <td>{{article['author']}}</td>
            <td>{{article['create_date']}}</td>
            <td>
              <a href="/{{ article['id'] }}/delete">
                <button class="btn btn-danger" onclick="return confirm('정말 삭제하시겠습니까?')">
                  삭제
                </button> 
              </a>
             
              <button class="btn btn-success">편집</button></td>
            
          </tr>
        {% endfor %}
        </tbody>
          

      </table>
      <a href="/article/add"><button class="btn btn-warning">글쓰기</button></a>
    {% endblock %}
